@import '~mdb-ui-kit/css/mdb.min.css';

body {
  background-color: #FF6700;
}

.section {
  margin: 4.8rem 0;
}

.main-heading,
.subheading,
.body-text {
  margin-bottom: 1rem;
}

.main-heading, .subheading {
  color: #fff;
}

.main-heading {
  font-size: 2rem;
}

.subheading {
  font-size: 1.6rem;
}

.body-text {
  font-size: 1rem;
  color: #615d6d;
}